---
# example hosts file:

#all:
#  hosts:
#    k8s-pi-master:
#      ansible_host: 192.168.0.240
#      ansible_user: pi
#      ansible_password: raspberry
#    k8s-pi-worker1:
#      ansible_host: 192.168.0.241
#      ansible_user: pi
#      ansible_password: raspberry
#    k8s-pi-worker2:
#      ansible_host: 192.168.0.242
#      ansible_user: pi
#      ansible_password: raspberry
#    k8s-pi-worker3:
#      ansible_host: 192.168.0.243
#      ansible_user: pi
#      ansible_password: raspberry
#  children:
#    k8sall:
#      hosts:
#        k8s-pi-master:
#        k8s-pi-worker1:
#        k8s-pi-worker2:
#        k8s-pi-worker3:
#    k8smasters:
#      hosts:
#        k8s-pi-master:
#    k8sworkers:
#      hosts:
#        k8s-pi-worker1:
#        k8s-pi-worker2:
#        k8s-pi-worker3:
