<target {{ node_workdir_iqn }}>
  backing-store {{ ssd_server_mount_path }}/blocks/{{ inventory_hostname }}-workdir.img
  initiator-name {{ iscsi_initiatorname }}
  incominguser {{ node_workdir_user | default("") | replace("{{ inventory_hostname }}",inventory_hostname) | regex_replace("[^a-zA-Z0-9]","") }} {{ node_workdir_pass | default("") }}
</target>
