<target {{ node_workdir_target }}>
  backing-store {{ master_ssd_mount_path }}/blocks/{{ inventory_hostname }}-workdir.img
  initiator-name {{ iscsi_initiatorname }}
  incominguser {{ node_workdir_user }} {{ node_workdir_pass }}
</target>
